@import "../variables.scss";

.about-page {

  .title-main {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  // Hero section
  .hero {
    margin-top: -92px;
    padding-top: 92px;

    @media screen and (min-width: $tablet) {
      margin-top: -132px;
      padding-top: 132px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: -152px;
      padding-top: 152px;
    }

    .title-main {
      max-width: 240px;
      @media screen and (min-width: $tablet) {
        max-width: unset;
        margin-bottom: 40px;
      }
    }
  }

  .hero-wrapper {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 80px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 112px;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .hero-image-block {
    margin-bottom: 54px;
    width: 100%;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (min-width: $tablet) {
      width: 504px;
      height: 460px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: $desktop) {
      width: 674px;
      height: 606px;
      margin-right: -107px;
      margin-bottom: -60px;
      margin-top: -70px;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-image: url(../../images/about-hero-bg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
  }

  .hero-image-wrapper {
    width: 234px;
    height: 234px;
    @media screen and (min-width: $tablet) {
      width: 344px;
      height: 325px;
    }
    @media screen and (min-width: $desktop) {
      width: 461px;
      height: 436px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius-container;
    }
  }

  .hero-description {
    @media screen and (min-width: $tablet) {
      max-width: 590px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 560px;
    }
  }

  .text-expandable {
    @media screen and (max-width: $desktop) {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
    }

    &.expanded {
      display: block;
      overflow: unset;
      -webkit-box-orient: unset;
      -webkit-line-clamp: unset;
    }
  }

  .show-more-button {
    display: block;
    padding: 0;
    margin-top: 18px;
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    background-color: transparent;
    border: 0;
    color: $color-accent;
    cursor: pointer;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  //  Facebook stories section
  .stories {
    padding: 24px 0;
    position: relative;

    @media screen and (min-width: $tablet) {
      padding: 32px 0;
    }
    @media screen and (min-width: $desktop) {
      padding: 40px 0;
    }

    .background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -2;
      background: $gradient;
      @media screen and (min-width: $desktop) {
        background: $gradient-section;
      }
    }

    .title-main {
      max-width: 280px;
      @media screen and (min-width: $tablet) {
        max-width: unset;
      }
    }
  }

  .gallery-desktop {
    margin-bottom: 40px;
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 60px;
    }
  }

  .gallery-mobile {
    margin-bottom: 40px;
    display: block;
    @media screen and (min-width: $tablet) {
      display: none;
    }

    .swiper-wrapper {
      margin-bottom: 30px;
      display: flex;
    }

    .swiper-slide {
      min-height: 500px;
    }

    .swiper-pagination {
      position: relative;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border: 1px solid $color-secondary;
      background-color: transparent;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-secondary;
    }
  }

  .stories-text {
    max-width: 190px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 16px;
    @media screen and (min-width: $tablet) {
      max-width: unset;
      font-weight: 400;
      font-size: 15px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
    }
  }

  .stories-button {
    padding: 12px 32px;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: $color-light;
    border-radius: $border-radius-container;
    font-size: 15px;
    transition: 250ms $cubic-bezier;

    &:hover {
      background-color: $color-orange;
    }
  }

  // Team section
  .team {
    padding-top: 60px;
    @media screen and (min-width: $tablet) {
      padding-top: 80px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 112px;
    }

    .text-main {
      @media screen and (min-width: $tablet) {
        max-width: 560px;
      }
    }

    .title-main {
      margin-left: unset;
      text-align: left;
      @media screen and (min-width: $tablet) {
        margin-bottom: 24px;
      }
    }

  }

  .team-list {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  .team-card-column {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      &:first-child {
        width: 50%;

        .team-card {
          margin-left: auto;
        }
      }

      &:nth-child(2) {
        width: 50%;
      }
    }

    @media screen and (min-width: $desktop) {
      padding: 0 8px;
    }
  }

  .team-card {
    margin-bottom: 40px;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      width: 234px;
    }

    span {
      text-align: center;
    }
  }

  .team-card-img-wrapper {
    margin-bottom: 16px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #D9D9D9;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center bottom;
    }
  }

  .team-card-line {
    margin-bottom: 8px;
  }

  // Training section - similar to "projects" from homepage
  .projects {
    padding: 24px 0 64px;
    margin-bottom: 60px;
    background: $gradient-section;

    @media screen and (min-width: $tablet) {
      padding: 32px 0;
      margin-bottom: 80px;
    }

    @media screen and (min-width: $desktop) {
      padding: 40px 0;
      margin-bottom: 112px;
    }

    .title-main {
      margin-left: unset;
      text-align: left;
      margin-bottom: 0;
    }
  }

  .projects__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  .projects__list {
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 26px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  .projects .template__list .info {
    @media screen and (min-width: $desktop) {
      padding: 24px;
    }
  }

  .projects__list.template__list > div {
    padding: 16px;

    @media screen and (min-width: $desktop) {
      padding: 0;
    }
  }

  .projects__list .img {
    width: 311px;
    height: 184px;

    @media screen and (min-width: $tablet) {
      width: 312px;
      height: 224px;
    }

    @media screen and (min-width: $desktop) {
      width: 364px;
      height: 258px;
    }
  }

  .swiper-pagination {
    position: relative;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid $color-secondary;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-secondary;
  }

  //  Documents and Reports sections
  .documents {
    padding-top: 60px;
    @media screen and (min-width: $tablet) {
      padding-top: 80px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 112px;
    }

    .text-main {
      @media screen and (max-width: $tablet) {
        margin-bottom: 40px;
      }
      @media screen and (min-width: $tablet) {
        max-width: 344px;
      }
      @media screen and (min-width: $desktop) {
        max-width: 554px;
      }
    }

    .title-main {
      margin-left: unset;
      text-align: left;
    }
  }

  .reports {
    padding-top: 60px;
    @media screen and (min-width: $tablet) {
      padding-top: 80px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 112px;
    }

    .title-main {
      text-align: center;
    }

    .carousel-container {
      width: 100%;
      position: relative;
      margin: 0 auto;
      @media screen and (min-width: $tablet) {
        width: 544px;
      }
    }

    .swiper {
      width: 192px;
      @media screen and (min-width: $tablet) {
        width: 424px;
      }
    }

    .button-next, .button-prev {
      width: 44px;
      height: 44px;
      position: absolute;
      content: "";
      top: 16px;
      z-index: 11;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.swiper-button-disabled {
        svg {
          fill: lighten($color-secondary, 30%);
        }
      }
    }

    .button-next {
      right: 0;
    }

    .button-prev {
      left: 0;
    }
  }

  .documents-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet) {
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: flex-end;
    }
    @media screen and (min-width: $desktop) {
      justify-content: space-between;
    }
  }

  .documents-list {
    display: flex;
    gap: 40px;
    @media screen and (min-width: $tablet) {
      margin-right: 56px;
    }
  }

  .documents-card {
    display: inline-block;
    width: 76px;

    img {
      margin-bottom: 12px;
      width: 100%;
    }

    span {
      display: block;
      max-width: 70px;
      margin: 0 auto;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.15px;
      text-align: center;
      word-wrap: break-word;
    }
  }

}