@import "../variables.scss";

.news__title {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 64px;
  }
}

.news__list {
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
  }
}

.news__list li {
  position: relative;
  width: fit-content;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.news__list .info {
  @media screen and (min-width: $tablet) {
    width: 344px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
    width: 558px;
  }
}

.news__list .img {
  width: 343px;
  height: 258px;

  @media screen and (min-width: $tablet) {
    width: 344px;
    height: 224px;
  }

  @media screen and (min-width: $desktop) {
    width: 364px;
    height: 258px;
  }
}

.news__list .date {
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: -148px;
  }
}

.news__list a {
  @media screen and (min-width: $desktop) {
    margin-left: 414px;
  }
}

.news__list.template__posts li h3 {
  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.pagination a,
.pagination span {
  width: 30px;
  height: 64px;
  padding: 22px 0;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;

  @media screen and (min-width: $desktop) {
    width: 64px;
    height: 64px;
  }
}

.pagination span {
  color: $color-accent;
  font-weight: 700;
}

.pagination a {
  color: $color-primary;
  font-weight: 400;
}
