@import "../variables.scss";

.news__title {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 64px;
  }
}

.template__posts a {
  @media screen and (min-width: $desktop) {
    margin-left: 414px;
  }
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.pagination a,
.pagination span {
  width: 30px;
  height: 64px;
  padding: 22px 0;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;

  @media screen and (min-width: $desktop) {
    width: 64px;
    height: 64px;
  }
}

.pagination span {
  color: $color-accent;
  font-weight: 700;
}

.pagination a {
  color: $color-primary;
  font-weight: 400;
}
