body.is-open {
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: $gradient;
  z-index: 100;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header__content {
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;

  @media screen and (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.header__logo {
  margin-right: 16px;

  @media screen and (min-width: $mobile) {
    margin-right: 22px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 86px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 65px;
  }

  .custom-logo-link {
    display: inline-block;
    width: 96px;
    height: 30px;
    transform: scale(1);
    transition: transform 250ms $cubic-bezier;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    @media screen and (min-width: $tablet) {
      width: 154px;
      height: 48px;
    }

    @media screen and (min-width: $desktop) {
      width: 166px;
      height: 52px;
    }
  }

  .custom-logo-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Desktop menu

.desktop-menu {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.nav-menu {
  ul {
    display: flex;
    gap: 18px;
  }

  ul li {
    padding: 12px 4px;
  }

  ul > li:first-child {
    position: relative;
    width: 96px;

    &:hover .sub-menu,
    &:focus .sub-menu {
      display: flex;
    }
  }

  .header_list > li:first-child::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
    background-image: url(../../assets/images/chevron-down-menu.svg);
    top: 12px;
    right: 0;
    transform: rotate(0deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header_list > li:first-child:hover:before {
    transform: rotate(180deg);
  }

  ul li a {
    color: $color-primary;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    transition: color 250ms $cubic-bezier, text-decoration 250ms $cubic-bezier;

    &:hover,
    &:focus {
      color: $color-accent;
      text-decoration: underline;
    }
  }

  ul .current_page_item a {
    color: $color-accent;
    text-decoration: underline;
  }

  ul .sub-menu {
    position: absolute;
    left: 0;
    top: 36px;
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: $background-submenu;
    padding: 5px;
    width: 127px;
    z-index: 1;
  }

  ul li .sub-menu li {
    padding: 12px 0;
    white-space: nowrap;
  }

  ul li .sub-menu li a {
    text-decoration: none;
    color: $color-primary;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

.header__socials {
  display: flex;
  gap: 8px;
}

.header-social__icon {
  fill: $color-primary;
  transform: scale(1);
  transition: fill 250ms $cubic-bezier, transform 250ms $cubic-bezier;

  &:hover,
  &:focus {
    fill: $color-orange;
    transform: scale(1.3);
  }
}

// Mobile menu

.mobile-menu {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: $mobile) {
    gap: 22px;
  }

  @media screen and (min-width: $tablet) {
    gap: 176px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.nav-menu__mobile {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  padding: 40px 0 84px;
  background-color: $color-light;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;

  transition: transform 250ms $cubic-bezier, opacity 250ms $cubic-bezier,
    visibility 250ms $cubic-bezier;

  @media screen and (min-width: $tablet) {
    top: 84px;
  }

  &.is-open {
    height: calc(100vh - 80px);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
    overflow-y: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  ul li:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  ul li a {
    display: block;
    padding: 12px 4px;
    color: $color-primary;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.45;
    transition: color 250ms $cubic-bezier;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 1.33;
    }

    &:hover,
    &:focus {
      color: $color-accent;
      text-decoration: underline;
    }
  }

  ul ul li a {
    display: block;
    padding: 12px 4px;
    color: $color-secondary;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;

    transition: color 250ms $cubic-bezier;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 1.4;
    }

    &:hover,
    &:focus {
      color: $color-accent;
      text-decoration: underline;
    }
  }
}

.mobile-menu .button.button--blue {
  font-size: 14px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    padding: 15px 61px;
  }
}

.button-menu {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  padding: 0;
  fill: $color-accent;
  transition: fill 250ms $cubic-bezier;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 64px;
    height: 64px;
  }

  &:hover {
    fill: $color-orange;
  }
}

.button-menu svg {
  width: 48px;
  height: 48px;

  @media screen and (min-width: $tablet) {
    width: 64px;
    height: 64px;
  }
}

.button-menu__burger {
  cursor: pointer;
}

.button-menu .button-menu__cros {
  display: block;
}

.button-menu.is-open .button-menu__cros {
  display: none;
}

.button-menu .button-menu__burger {
  display: none;
}

.button-menu.is-open .button-menu__burger {
  display: block;
}
.nav-menu .pll-parent-menu-item {
  @media (min-width: $desktop) {
    padding: 12px 7px;
  }
}
.pll-parent-menu-item {
  position: relative;
  display: flex;
  @media (min-width: $desktop) {
    margin-left: 20px;
  }

  &:hover {
    .sub-menu {
      display: flex;
    }
  }
}
.nav-menu .pll-parent-menu-item .sub-menu {
  width: fit-content;
  padding: 7px;
  border-radius: 8px;
  & li {
    width: 45px;
    padding: 7px 0;
  }
  & a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      text-decoration: underline;
    }
  }
}
.pll-parent-menu-item > a {
  display: flex;
  align-items: center;
}

.nav-menu__mobile .pll-parent-menu-item a {
  display: flex;
  align-items: center;
}
