// Colors

$color-primary: #001922;
$color-secondary: #686868;
$color-accent: #2b7196;
$color-light: #fffafa;
$color-orange: #f97c00;
$color-light-blue: #e2f0e7;
$color-secondary-blue: #5aafbd;
$color-light-purple: #e4e0fe;
$color-yellow: #fef4db;
$background-color: #fffafa;

// Breakpoints

$mobile: 375px;
$tablet: 768px;
$desktop: 1380px;

// Other

$border-radius-container: 12px;
$gradient-section: linear-gradient(
  180deg,
  rgba(174, 254, 226, 0) 0%,
  #fef3e5 0.01%,
  #e2f0e7 100%
);

// Gradient for Header/Footer
$gradient: linear-gradient(270deg, #e2f0e7 9.46%, #fef3e5 94.57%);
