.one-news__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
  padding-bottom: 9px;
  height: 224px;
  border-radius: 12px;
  overflow: hidden;
  color: #fffafa;
}
@media screen and (min-width: 768px) {
  .one-news__hero {
    width: 704px;
    height: 280px;
    margin-bottom: 32px;
    padding: 0 58px 16px;
    gap: 12px;
  }
}
@media screen and (min-width: 1366px) {
  .one-news__hero {
    width: 1140px;
    height: 466px;
    margin-bottom: 40px;
    padding: 0 194px 32px;
    gap: 16px;
  }
}

.one-news__title {
  color: #001922;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .one-news__title {
    color: #fffafa;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1366px) {
  .one-news__title {
    font-size: 22px;
    line-height: 1.27;
  }
}

.one-news__hero .one-news__title {
  display: none;
}
@media screen and (min-width: 768px) {
  .one-news__hero .one-news__title {
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  .one-news__article {
    max-width: 665px;
  }
}

.one-news__article .one-news__title {
  display: block;
}
@media screen and (min-width: 768px) {
  .one-news__article .one-news__title {
    display: none;
  }
}

.one-news__text {
  margin-bottom: 76px;
}
@media screen and (min-width: 768px) {
  .one-news__text {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .one-news__text {
    max-width: 584px;
  }
}

.swiperOneNews2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .swiperOneNews2 {
    display: block;
    margin-bottom: 24px;
  }
}

.news-gallery__item2 {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 704px;
  height: 428px;
}
@media screen and (min-width: 1366px) {
  .news-gallery__item2 {
    width: 655px;
    height: 398px;
  }
}

.gallery__wrapper {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .swiperOneNews {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 613px;
    height: 124px;
  }
}
@media screen and (min-width: 1366px) {
  .swiperOneNews {
    width: 567px;
  }
}

.news-gallery__item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 343px;
  height: 224px;
}
@media screen and (min-width: 768px) {
  .news-gallery__item {
    width: 179px;
    height: 124px;
  }
}

.news-gallery__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.news-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-next,
.button-prev {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 43px;
  width: 44px;
  height: 44px;
  z-index: 11;
  cursor: pointer;
}
.button-next.swiper-button-disabled svg,
.button-prev.swiper-button-disabled svg {
  fill: #686868;
}

.button-next {
  display: none;
  right: 0;
}
@media screen and (min-width: 768px) {
  .button-next {
    display: flex;
  }
}

.button-prev {
  display: none;
  left: 0;
}
@media screen and (min-width: 768px) {
  .button-prev {
    display: flex;
  }
}

.news__pagination.swiper-pagination-clickable {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .news__pagination.swiper-pagination-clickable {
    display: none;
  }
}

.swiperOneNews .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #686868;
  background-color: transparent;
}

.swiperOneNews .swiper-pagination-bullet-active {
  background-color: #686868;
}/*# sourceMappingURL=single-news.css.map */